#user {
  width: 35%;
  margin: 100px auto;
}

@media screen and (max-device-width: 500px){
  #user {
    width: 70%;
    margin: 40px auto;
  }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #user {
    width: 80%;
    margin: 120px auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #user {
    width: 80%;
    margin: 30px auto;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  #user {
    width: 80%;
    margin: 120px auto;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  #user {
    width: 80%;
    margin: 50px auto;
  }
}

#user .content {
  background-color: white;
  width: 100%;
  height: 580px;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-device-width: 500px) and (orientation: portrait){
  #user .content {
    height: 530px;
  }
}


@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #user .content {
    height: 600px;
  }
}

@media (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  #user .content {
    height: 800px;
  }
}

@media (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  #user .content {
    height: 750px;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #user .content {
    height: 500px;
  }
}




#user .profile {
  font-size: 80px;
  color: #778899;
  padding: 30px;
  text-align: center;
}

#user .info {
  font-size: 25px;
  color: #37474f;
  border-bottom: 1px solid #778899;
}

#user h2 {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  color: #37474f;
}

#user .column {
  float: left;
  width: 50%;
  font-size: 20px;
}

#user .column1 input {
  height: 30px;
  width: 180px;
  border-radius: 90px;
  border: 3px solid #37474f;
  text-align: center;
}

#user .column2 input {
  height: 30px;
  width: 100px;
  border-radius: 50px;
  border: 3px solid #37474f;
  text-align: center;
  background: url("../images/percentage.png") no-repeat;
  background-position: right center;
  background-origin: content-box;
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  #user .column2 input {
    width: 180px;
    border-radius: 90px;
  }
}

#user label {
  color: #37474f;
  padding: 10px;
  font-size: 20px;
}

#user .row:after {
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  #user .column {
    width: 100%;
  }
}

#user .update_btn {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #dc143c;
  color: white;
  border: 1px solid #dc143c;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}

#user .update_btn:hover {
  columns: #dc143c;
  background-color: white;
  border: 1px solid #dc143c;
  color: #dc143c;
}
